<!-- partial to be rendered on user dashboard -->

<div class="user_vinyls">

<% session[:user].vinyls.all.each do |vinyl| %>
  <div class='vinyl_list'>

    <div id="color_container">
      <h2>|> <%= vinyl.title%> <| </h2> <p>by</p> <h3> <| <%= vinyl.artist%> |> </h3>
    </div>

    <p> <%=vinyl.notes%> </p>
    <p><img src="<%= vinyl.artwork%>"></p>


<!--   Ajax delete of record -->
  <a  href="/vinyls/<%=vinyl.id%>" class="delete_btn" name="<%=vinyl.id%>">Delete</a>

  </div>
<%end%>


</div>