<!-- partial to be rendered on user dashboard -->

<div class="user_vinyls">

<% session[:user].vinyls.all.each do |vinyl| %>
  <div class='vinyl_list' style="display:inline;">

    <h2><%= vinyl.title%> </h2> <p>by</p> <h3><%= vinyl.artist%></h3>

    <p>>> <%=vinyl.notes%> <<</p>
    <img src="<%= vinyl.artwork%>">

    <form id='edit_vinyl' action='/vinyls/<%=vinyl.id%>' method="POST">
    <input type="hidden" name="_method" value="PUT">
    <p><a id='edit_toggle' href="#"> Edit  </a></p>

    update notes: <input type="text" name="notes">

  </form>

<!--   Ajax delete of record -->
  <a  href="/vinyls/<%=vinyl.id%>" class="delete_btn" name="<%=vinyl.id%>">Delete</a>

  </div>
<%end%>


</div>